@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.box {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.69;
    background-color: black;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
    /* pop out of the background whose z-index is greater*/
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 124px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 30px;
}

.hero> :first-child {
    /* '>' sign indicate that parents immediate child or it would apply to first child of any parent in hero*/
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 4px;
    background: rgb(61, 61, 61);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(243, 236, 236, 0.21);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(231, 228, 228, 0.5);
    padding: 7px 101px 4px 14px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding-bottom: 65px;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    top: 51px;
    position: relative;
    z-index: 10;
}

.secimg video {
    max-width: 400px;
    position: absolute;
    top: 51px;
    right: 0;
    padding: 91px 82px 40px;
}
.sectext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first > div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}
.first > div:nth-child(2) {
    font-size: 24px; 
}

.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
    display: flex;
    color: white;
    transition: all 0.3s ease-out;
    font-size: 24px;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
.faqbox:hover{
    background-color: #414141;
}

footer{
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 34px;
}
footer .questions{
    padding: 34px 0px;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer a{
    color: white;
    font-size: 14px;
}
.footeritem{
    display: flex;
    gap: 14px;
    flex-direction: column;
}
@media screen and (max-width: 800px) {
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secimg{
        display: flex;
        flex-direction: column;
    }
    .secimg img{
        width: 305px;
        position: relative;
        z-index: 10;
    }
    .secimg video{
        width: 250px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .hero> :nth-child(1){
        font-size: 32px;
    }   
    .hero> :nth-child(2){
        font-size: 18px;
    }   
    .hero> :nth-child(3){
        font-size: 18px;
    }   
    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 48px;
    }
    footer{
        max-width: 90px;
    }
    .footeritem{
        align-items: center;
    }
}